{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>VictorCalls</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/images/VC.png">

  
  <link href="assets/style.css" rel="stylesheet"  type="text/css" >
  <link href="assets/mystyle.css" rel="stylesheet" type="text/css">
  
  <link href="assets/vcglobalcss.css" rel="stylesheet"  type="text/css" >
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYBY5dswX8ks7M7c7YoQinAEgYwEHg1Ds&libraries=places&sensor=false&language=en"></script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
 
 
  <script>
      function w3_open() {
          document.getElementById("mySidebar").style.display = "block";
      }
      function w3_close() {
          document.getElementById("mySidebar").style.display = "none";
      }
      </script>
      

<link rel="stylesheet" href="styles.bcd4c8f7d5e1f989d34f.css"></head>
<body>
  <app-root></app-root>

 
<script type="text/javascript"   src="{% static 'runtime.a66f828dca56eeb90e02.js' %}"></script>
  <script type="text/javascript" src="{% static 'polyfills.7a0e6866a34e280f48e7.js' %}"></script>
  <script type="text/javascript" src="{% static 'scripts.4bb31bf82111a652702e.js' %}"></script>
  <script type="text/javascript" src="{% static 'main.65cd6097f295d371e3a2.js' %}"></script>
</body>
</html>
